

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

div h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

ol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}


.profileImage {
  max-width: 100%;  
}

.bookImage {
  max-width: 50%;
  float: right;
}

h2 {
  color: grey;
  font-size: 30px;
  font-family: Arial;
}

.background {
  display: flex;
  justify-content: center;
  background: #8085ad;
  margin: 0%;
  padding: 50px;
}

p {
  font-size: 20px;
  font-family: Helvetica;
  color: white;
  max-width: 60%;
}

ol {
  font-size: 20px;
  font-family: Helvetica;
}

.Fav-Book  {
  position: relative;
  bottom: -50px;
  left: 70px;
  font-size: 50px;
  font-family: Helvetica;
  color: pink;
}



